/* This is imported in '/pages/_app.js' */

@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Quattrocento&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

main {
     font-family: "Karla", sans-serif;
}

.f-ubuntu {
     font-family: "Ubuntu", sans-serif;
}
.f-raleway {
     font-family: "Raleway", sans-serif;
}
.f-quattrocento {
     font-family: 'Quattrocento', serif;
}


@layer components {
     .Logo {
          @apply tracking-wide md:tracking-widest  p-2 space-x-10  rounded-full text-black font-bold hover:text-shadow-xl ;
     }

     .NavbarLink {
          @apply md:tracking-widest p-2 space-x-10 rounded-full text-gray-500  hover:text-shadow-xl  ;
     }

     /* ---------------------------------------------- */

     .Contact-Icon {
          @apply w-10 h-10 p-1 rounded-full;
     }
     .Contact-Icon:hover {
          @apply border-solid border-4;
     }
     .Contact-Icon-linkedin:hover {
          @apply border-blue-400 ;
     }
     .Contact-Icon-gmail:hover {
          @apply border-red-400;
     }
     .Contact-Icon-github:hover {
          @apply border-gray-500;
     }
}

/* ---------------------------------------------- */

.page-header {
     @apply text-center text-2xl sm:text-3xl md:text-4xl font-black tracking-widest text-shadow-lg;
}
.myUnderline {
     @apply mx-auto w-20 block h-2.5 border-solid border-t-4  border-black mt-4;
}

/* ---------------------------------------------- */
.my-grid {
     @apply gap-7 my-16 grid grid-cols-1 md:grid-cols-2  2xl:grid-cols-3;
}
/* ---------------------------------------------- */
.my-grid-contact {
     @apply max-w-max mx-auto grid grid-cols-1 gap-7 md:grid-cols-2 my-16 justify-items-center items-center ;
}
/* ---------------------------------------------- */
.project-section {
     @apply container block relative shadow-xl border-4 items-center justify-center w-80 h-64 2xl:w-96 2xl:h-72;
}
/* ---------------------------------------------- */
.project-title {
     @apply text-center font-bold text-xl my-2 text-gray-400;
}
/* ---------------------------------------------- */
.project-hidden {
     @apply overflow-hidden absolute inset-0 opacity-0 bg-white text-center items-center justify-center z-10  min-h-full py-4 px-6 flex flex-col;
}
/* ---------------------------------------------- */
.project-title-hidden {
     @apply text-center font-bold text-lg text-black f-raleway uppercase ;
}
.project-title-myUnderline {
     @apply mx-auto w-10 block h-2.5 border-solid border-t-2  border-black mt-1 mb-2;
}
/* ---------------------------------------------- */
.project-skill-section {
     @apply text-pink-600 uppercase p-2 w-max mx-auto text-sm flex-row mt-3 font-bold;
}
/* ---------------------------------------------- */
.project-description {
     @apply tracking-tight;
}
/* ---------------------------------------------- */

.project-link-section {
     @apply flex flex-row items-center justify-between mt-6;
}
.project-link {
     @apply  text-black text-xs md:text-sm border-2 border-gray-300 py-1 px-1 rounded-lg inline-flex items-center hover:border-yellow-300 ;
}
.project-link-icon {
     @apply inline w-3 h-3 md:w-5 md:h-5 ;
}

/* ---------------------------------------------- */
.Contact-links  {
     @apply my-5 f-ubuntu;
}

/* ---------------------------------------------- */
/* ---------------------------------------------- */
/* ---------------------------------------------- */
/* ---------------------------------------------- */
/* ---------------------------------------------- */
/* ---------------------------------------------- */
